@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-size: 16pt;
}
p {
	font-size: 32pt;
	padding: 0px 10px 20px;
  letter-spacing: -1px;
}
.container_b {
  display: grid;
  width: 1100px;
  height: max-content;
  margin: 60px auto 60px;
}
.group_make_list {
  border-radius: 20px;
  border: 1px solid rgb(174, 170, 170);
  display: grid;
  justify-content: center;
  font-size: 18pt;
  margin: 20px 0 20px;
  padding: 50px;
}
.container_b span {
  width: 230px;
  height: 100px;
  border-right: 1px solid #d9d9d9;
  align-content: center;
  text-align: center;
  float: left;
}
.info_ span {
  height: 250px;
  border-right: 1px solid #d9d9d9;
}

input,
select {
  height: 40px;
  margin-left: 10px;
  font-size: 16pt;
}
select{
	width: 100px;
	text-align: center;
}
.title input {
  width: 540px;
}
input {
  padding-left: 10px;
	
}
.title,
.tag,
.name,
.date,
.during {
  display: flex;
  align-items: center;
  height: 100px;
  width: 800px;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  margin: 3px;
    border-color: #d9d9d9;
}
.img{
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  margin: 3px;
  border-color: #d9d9d9;
  display: flex;
  height: 500px;
  width: 800px;
  align-items: center;
}
.img span{
  width: 230px;
  height: 500px;
  border-right: 1px solid #d9d9d9;
  align-content: center;
  text-align: center;
  float: left;
}
.img_wrap img{
	margin: auto;
}
.img div{
	 display: flex;
  flex-direction: column;
}
.info_ {
  display: flex;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  height: max-content;
  width: 800px;
  margin: 3px;
}
textarea {
  margin-left: 10px;
  font-size: 16pt;
  padding: 10px;
}
.add_btn{
	width: 200px;
	height: 50px;
	border-radius: 20px;
	font-size: 20pt;
	margin: 20px auto 0;
	cursor: pointer;
	background-color: #cfff91;
	border: none;
	}
	
.add_btn:hover {
	background-color: orange;
	color: white;
}
.cancel_btn{
	display: flex;
	position:relative;
	justify-content: flex-end;
}
.cancel_btn button{
	background-color: #fff;
	border: none;
}
.goback_img{
	width: 40px;
	height: 40px;
	transition: transform 0.3s ease;
}
.goback_img:hover{
	transform: translateX(-10px);
}
