@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  border: 0;
}
html,
body {
  height: 100%;
}
.container_ed {
  display: grid;
  height: max-content;
  justify-content: center;
  align-items: center;
}
.epilogue_wrap {
  margin: 100px 0 30px;
  width: 1200px;
  border: 1px solid #ccc;
  border-radius: 20px;
  text-align: center;
}
/* ---epilogue--- */
.epilogue_list .epilogue {
  border-bottom: 1px solid #ccc;
}
.epilogue_list .title {
  height: 100px;
}
.epilogue_center{
  width: 1200px;
  height: 100px;
  display: flex;
  justify-content:space-between;
}
.epilogue_center div{
  border-right: 1px solid #ccc;
  width: 400px;
	
}

.container_ed span {
  width: 200px;
  height: 100px;
  float: left;
  border-right: 1px solid #ccc;
}
.tag_class {
	border: 3px solid orange;
	border-radius: 30px;
	width: 90px;
	height: 45px;
	text-align: center;
	align-content: center;
	font-weight: 600;
	font-size: 16pt;
	letter-spacing: 1px;
}
.container_ed .content {
  height: 200px;
}
.container_ed .content span {
  height: 200px;
}


/* ---comment--- */
.comment-group p {
  font-weight: bold;
  font-size: 18pt;
  padding: 20px 80px 20px;
  text-align: left;
}
.comment-group {
  width: 100%;
  height: 100%;
}
.comment {
  width: 1000px;
  border: 1px solid #ccc;
  border-radius: 20px;
  margin: 0px auto 40px;
  padding: 20px;
}
.comment_list{
	display: flex;
	padding: 10px;
	border: 1px solid #ccc;
	align-items: center;
}
.comment_list .comment_writer{
	text-align: left;
	width: 200px;
}
.comment_list .comment_contents{
	text-align: left;
	width: 550px;
}
.comment_list .comment_date{
	width: 200px;
}
.comment_list .comment_delete{
	width: 80px;
}
.comment_list .comment_update{
	width: 80px;
}
.comment_input{
	 width: 1000px;
	 display: flex;
	 align-content: center;
	 text-align: center;
	 margin: 10px auto 0;
}
.comment_input textarea{
	font-size: 18pt;
	border: 1px solid #f6a200;
	border-radius: 20px;
	padding: 20px;
}
.bottom p {
	     padding: 0px;
}
.btn_register{
	background-color: #f6a200;
	height: 110px;
	width: 110px;
	border-radius: 50%;
	color: white;
	font-weight: 600;
	font-size: 18pt;
	cursor: pointer;
	margin: 5px;
}
.comment_delete{
	border: 3px solid #f6a200;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	padding-top: 5px;
}
.btn_delete img{
	width: 35px;
	cursor: pointer;
	margin: auto;
}
.error-message{
	color: red;
    font-size: 28px;
}
.comment_update{
	font-size: 15pt;
	border: 3px solid #f6a200;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	padding-top: 5px;
	cursor: pointer;
}
.commentModal{
	display: none; 
	width: 650px; 
	border: 3px solid #f6a200;
	padding: 20px;
	border-radius: 20px;
	margin: auto;
    position: fixed; 
    top: 30%; 
    left: 50%;
    transform: translateX(-50%); 
    background-color: white; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    z-index: 1000; 
}
.commentModal p{
	padding: 0 10px 0;
	
}
#comment_text{
	padding:10px;
	font-size: 16pt;
	outline-color: #f6a200;
	border: 1px solid #f6a200;
	border-radius: 20px;
}
.commentModal button{
	width: 150px;
	height: 50px;
	font-size: 16pt;
	font-weight: 600;
	color:#f6a200;
	background-color: #fff;
	border-radius: 20px;
	border: 1px solid #f6a200;
}
