@charset "UTF-8";

.content_container {
	margin: 5% auto;
    width: 70%;
    height: 60vh;
}

.content_container .content_box {
	margin: 5% auto;
    border: 1px solid black;
    width: 70%;
    height: 50vh;
}

.content_container .content_box span{
	font-size:1.1em;
	text-align:center;
}
.content_container .content_box .content_announce_box {
	width: 45%;
    height: 10vh;
    margin: 0 auto;
}
.content_container .content_box .content_main_box {
	width: 65%;
    height: 15vh;
    margin: 0 auto;
}
.content_container .content_box .content_main_box p {
	font-weight: bold;
	font-size:1em;
	margin:0;
	padding:0;
}
.content_container .content_box .content_main_box input {
	font-weight: bold;
	font-size:1em;
	margin-bottom:15px;
	width:95%;
	border-radius:5px;
	border: 1px solid black;
}
.content_container .content_box .content_btn_box {
	width: 45%;
    height: 10vh;
    margin: 5% auto;
}
.content_container .content_box .content_btn_box .mail_send_btn{
	width: 100%;
    height: 5vh;
    margin-bottom: 10%;
    border: none;
    background-color: #45B90E;
    color: #fff;
    font-size: 1.3em;
    border-radius: 5px;
    cursor:pointer;
}
.content_container .content_box .content_btn_box .prev_btn{
	width: 100%;
    height: 5vh;
    margin-bottom: 10%;
    border: 1px solid #45B90E;
    background-color: #fff;
    color: #45B90E;
    font-size: 1.3em;
    border-radius: 5px;
    cursor:pointer;
}