@charset "UTF-8";
.find_header_container {
	font-size: 4em;
    width: 100%;
    height: auto;
    color: #F6A200;
    margin: 1em 0 0 0;
    padding: 0;
    text-align: center;
}


.find_header_container p{
    margin:0;
    padding:0;
}