@charset "UTF-8";

/* Body styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Main content styling */
main {
    flex: 1;
}

/* Header styling */
#header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header_title {
    font-size: 60px;
    color: #f6a200;
    text-decoration: none;
}

.header_categori_ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.header_categori_li {
    margin-left: 20px;
    position: relative;
}

.header_categori_li a, .login_link {
    text-decoration: none;
    color: black;
    font-size: 18px;
    transition: color 0.3s;
}

.header_categori_li a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: #4caf50;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

.header_categori_li a:hover, .login_link:hover {
    color: #4caf50;
}

.header_categori_li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #4CAF50;
    transform: scaleX(0);
    transform-origin: bottom;
    transition: transform 0.3s ease-out;
}

.header.hover::before {
    transform: scaleX(1);
}

/* Donation container styling */
.donation_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    gap: 20px;
    padding: 50px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
    margin: 0 auto;
}

.left_first_area {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    height: 300px;
}

.left_second_area {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    height: 50px;
}

.donation_goal {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.period_container {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    height: 50px;
}

.details_container {
    grid-column: 2 / 3;
    grid-row: 1 / 5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 500px;
}

.image_container {
    text-align: center;
}

.image_container img {
    max-width: 100%;
    border-radius: 10px;
    background-color: #e0e0e0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #666;
}

.categori_tag {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #4caf50;
    border-radius: 20px;
    color: #4caf50;
    font-size: 14px;
    margin-bottom: 10px;
}

.donation_goal {
    display: flex;
    align-items: center;
    font-size: 24px;
}

.amount,
.current {
    margin-right: 10px;
}

.button_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

input#donation_amount {
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 10px;
    width: 150px;
    text-align: center;
}

.share_button,
.donate_button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.share_button {
    background-color: #4CAF50;
}

.donate_button {
    background-color: #FFA500;
}

.share_button:hover,
.donate_button:hover {
    background-color: #45a049;
}

.donate_button:hover {
    background-color: #e69500;
}

/* Modal styling */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    animation: fadeIn 0.3s ease;
}

.modal_content {
    background-color: #fff;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    width: 80%;
    max-width: 400px;
    border-radius: 10px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    animation: grow 0.3s ease;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.share_option_button,
.sns_button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

.share_option_button:hover,
.sns_button:hover {
    background-color: #45a049;
}

/* Animation for grow */
@keyframes grow {
    from { transform: scale(0.8); }
    to { transform: scale(1); }
}

/* Animation for fadeIn */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Responsive styling */
@media (max-width: 1080px) {
    .donation_container {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    .image_container,
    .details_container {
        width: 100%;
        margin: 0;
    }
    
    input#donation_amount {
        width: 100%;
        margin: 10px 0;
    }

    .button_container {
        flex-direction: column;
    }

    .share_button, .donate_button {
        width: 60px;
        height: 60px;
        margin: 10px 0;
    }

    .modal_content {
        width: 90%;
        max-width: 300px;
    }
}

/* Footer styles */
#footer_container {
    background-color: white; /* Default background color is white */
    border-top: 1px solid #ddd;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    transition: border-color 0.3s ease;
    position: relative;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.footer_links {
    list-style: none;
    padding: 0;
    margin: 10px 0; /* Increased margin for more space */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.footer_links li {
    margin: 0 15px; /* Increased margin for more space */
}

.footer_links a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
}

.footer_links a:hover {
    color: #4CAF50;
}

@media (max-width: 1080px) {
    #footer_container {
        flex-direction: column;
        padding: 10px 20px;
    }

    .footer_links {
        flex-direction: column;
    }

    .footer_links li {
        margin: 10px 0;
    }
}