@charset "UTF-8";

body {
  overflow-x: hidden; /* Disable horizontal scroll */
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 5vh 5vh 5vh;
}

.donation_main {
  border: 1px solid #ddd;
  width: 60vw;
  max-width: 1920px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px; /* Border radius for donation_main */
}

.donation_container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
}

.left_section, .right_section {
  flex: 1 1 45%;
  box-sizing: border-box;
  position: relative;
}

.aspect-ratio-box {
  width: 100%;
  padding-top: 100%; /* This creates a 1:1 aspect ratio box */
  position: relative;
}

.aspect-ratio-box-inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image_container {
  width: 75%;
  justify-content: center;
  text-align: center;
}

.placeholder_image {
  width: 100%;
  height: 0;
  padding-bottom: 75%;
  background-color: #cccccc;
}

.categori_tag {
    border: 3px solid orange;
    border-radius: 30px;
    width: 90px;
    height: 45px;
    text-align: center;
    justify-content: center;
    align-content: center;
    font-weight: 600;
    font-size: 16pt;
    letter-spacing: 1px;
}

.categori_tag:hover {
  background-color: #4caf50;
  color: #fff;
}

.donation_goal {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.amount {
  font-size: 24px;
  text-align: right; /* Align amount text to right */
}

.amount span {
  margin-left: 5px;
}

.percentage {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.percentage_img_box {
  display: flex;
  align-items: center;
}

.percentage_img_box img {
  width: 2vw;
  margin-right: 0.5em;
  transition: transform 0.3s;
}

.percentage_img_box img:hover {
  transform: translateY(-10px);
}

.percentage span {
  line-height: 2em;
}

.company_period_container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-top: 10px;
}

.company_container,
.period_container {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}

.right_first_area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.right_second_area {
  display: flex;
  justify-content: center;
  align-items: flex-end; /* Align to bottom */
  height: 100%;
  flex-grow: 1;
}

.button_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  flex-grow: 1;
}

.amount_options {
  display: none;
  flex-direction: column;
  position: absolute;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 5px;
  width: 150px; /* Match the width of the input */
  z-index: 1;
}

.amount_option {
  padding: 10px;
  cursor: pointer;
  text-align: center;
}

.amount_option:hover {
  background-color: #f0f0f0;
}

#donation_amount {
  border-radius: 20px; /* Border radius for donation amount input */
  text-align: center;
  justify-content: center;
}

.button_box {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.share_button, .donate_button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.donate_button {
  background-color: #FFA500;
}

.share_button:hover {
  background-color: #45a049;
}

.donate_button:hover {
  background-color: #e69500;
}

/* Modal styling */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8); /* Darker background */
  animation: fadeIn 0.3s ease;
}

.modal_content {
  background-color: #fff;
  margin: auto;
  padding: 20px;
  border: 1px solid #ddd;
  width: 80%;
  max-width: 400px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: grow 0.3s ease;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.share_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#share_link {
  flex-grow: 1;
  margin-right: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.copy_button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.copy_button:hover {
  background-color: #45a049;
}

.donation_options {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.donation_option {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
}

.donation_option:hover {
  background-color: #45a049;
}

.share_option_button, .sns_button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
}

.share_option_button:hover, .sns_button:hover {
  background-color: #45a049;
}

.sns_links {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  text-align: center;
}

.sns_button {
  width: 100%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes grow {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}