@charset "UTF-8";

/* Footer Styles */
.footer {
    background-color: white;
    border-top: 0.1vh solid #ddd;
    width: 100%;
    height: 15vh;
    padding: 1vh 0; /* Adjusted padding for consistent look */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border-color 0.3s ease;
}

.footer_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%; /* Full width for content */
}

.footer_links {
    list-style: none;
    padding: 0;
    margin: 0.5vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap; /* Prevent line wrapping */
    gap: 1vw;
}

.footer_links li {
    position: relative;
    margin: 0 1vw;
}

.footer_links a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
}

.footer_links a:hover {
    color: #4CAF50;
}

.footer_links li::after {
    content: '';
    position: absolute;
    bottom: -0.5vh;
    left: 0;
    width: 100%;
    height: 0.2vh;
    background-color: #4caf50;
    transform: scaleX(0);
    transition: transform 0.3s;
}

.footer_links li:hover::after {
    transform: scaleX(1);
}

.footer_links li {
    white-space: nowrap; /* Prevent line breaking */
}