@charset "UTF-8";

/* Footer styles */
#footer_container {
    background-color: white; /* 기본 배경색을 흰색으로 설정 */
    border-top: 1px solid #ddd;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    position: relative;
    transition: border-color 0.3s ease;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
}

.footer_links {
    list-style: none;
    padding: 0;
    margin: 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.footer_links li {
    margin: 0 10px;
}

.footer_links a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
}

.footer_links a:hover {
    color: #4CAF50;
}

.content {
    padding-bottom: 50px;
}

@media (max-width: 1080px) {
    #footer_container {
        flex-direction: column;
        padding: 10px 20px;
    }

    .footer_links {
        flex-direction: column;
    }

    .footer_links li {
        margin: 10px 0;
    }
}