/* Header Styles */
#header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: white;
  border-bottom: 1px solid #ddd;
  position: relative;
  width: 100%;
  height: 10%;
}

.header_title {
  font-size: 36px;
  color: #f6a200;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.header_title:hover {
  transform: translateY(-10px); /* Move up by 10px on hover */
}

.header_categori_ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.header_categori_li {
  margin-left: 20px;
  position: relative;
}

.header_categori_li a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  transition: color 0.3s;
}

.header_categori_li a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #4caf50;
  transform: scaleX(0);
  transform-origin: bottom center;
  transition: transform 0.3s ease-out;
}

.header_categori_li a:hover {
  color: #4caf50;
}

.profile_img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.header_categori_li a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom center;
}

#header_container:hover {
  border-color: #4caf50;
  transition: border-color 0.3s ease-out;
}

.header_logo_box {
  display: flex;
  position: absolute;
  height: 100%;
  align-items: center;
  width: 12%;
  justify-content: center;
  left: 0;
  z-index: 1;
}

.header_title {
  z-index: 2;
  background-color: #fff;
}

.header_logo_img {
  width: 55%;
  height: 55%;
  z-index: -1;
}