@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  font-size: 14pt;
}
a{
	text-decoration: none;
	color: black;
}
.mypage_title {
  width: 1000px;
  margin: 60px auto 20px;
  font-size: 36pt;
  padding: 0px 10px 20px;
  letter-spacing: -1px;
}
.container_mp {
  display: flex;
  flex-direction: column;
  width: 950px;
  height: max-content;
  margin: 0 auto 60px;
  border: none;
  border-radius: 20px;
  padding-top: 15px;
  padding-bottom: 35px;
  background-color: #cfff91;
}
.mypage_top {
  width: 850px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin: 20px auto;
  padding: 30px;
  border-radius: 30px;
}
.my_info {
  display: grid;
  width: 600px;
  height: 200px;
}
.my_grade {
  align-content: end;
  font-size: 18pt;
}
.my_id {
  font-size: 28pt;
}
.my_profile {
  display: grid;
  float: right;
  height: 250px;
}
.my_profile .image{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #44b90e;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image img {
  width: 140px;
  height: 140px;
}
.my_profile button {
  margin: 20px auto;
  width: 120px;
  height: 40px;
  border-radius: 20px;
  border: none;
  font-size: 12pt;
  cursor: pointer;
}
.mypage_middle {
  width: 770px;
  height: 40px;
  margin: auto ;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
.bar {
  border-radius: 30px 30px 0px 0px;
  width: 150px;
  height: 45px;
  justify-content: center;
  text-align: center;
  align-content: center;
  border-bottom: 3px solid #cfff91;
  cursor: pointer;
  background-color: #fff;
}
.bar.active {
  border: 5px solid #fff;
  background-color: #cfff91;
    
}
.mypage_bottom {
  width: 850px;
  height: max-content;
  margin: auto;
  padding: 20px 0 20px;
  border-radius: 30px;
}
.mypage_bottom p {
  padding: 20px;
}
.donation_info_wrap,
.community_history,
.community_ing, 
.my_likes{
  width: 800px;
  min-height: 200px;
  border: 1px solid #ccc;
  margin: auto;
  border-radius: 20px;
  box-shadow: 3px 3px 3px #ddd;
  background-color: #fff;
  padding-bottom: 20px; 
}
.donation_info_wrap{
  display: flex;
  flex-direction: column;
  margin: 0 auto 8px;
}
.donation_title{
	margin: auto;
	width: 500px;
}
.donation_title div{
	border-bottom: 2px solid orange;
}
.donation_info {
  display: flex;
}
.donation_info_left {
  display: grid;
  width: 550px;
}
.donation_info_right {
  display: grid;
  width: 150px;
  height: 150px;
  align-content: center;
  margin: auto;
}
.donation_title, 
.my_likes_bottom {
	display:flex;
	flex-direction: column;
}
.donation_info_right_detail {
  text-align: end;
}
.donation_info_right span {
  float: right;
}
.community_ing_list input{
	color:black;
	font-size: 14pt;
	border: none;
  background-color: #fff;
}
.community_history,
.community_ing {
  margin: 0 auto 8px;
}
.community_history_list,
.community_ing_list, 
.my_likes_bottom div{
  width: 700px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 3px;
  border-bottom: 1px solid #ccc;
}
.c_date,
.ing_date {
  width: 150px;
  justify-content: left;
}
.c_title,
.ing_title{
  width: 400px;
  justify-content: left;
}
.donation_info_right_detail:hover,
.c_epilogue:hover,
.ing_epilogue input:hover {
  color: #4b4b4b;
  text-shadow: 1px 1px 1px #ccc;
  cursor: pointer;
}
.content-section{
  display: none;
}